{% extends "base.html" %}
{% block title %}
About | ISVR
{% endblock title %}

{% block content %}

<header>
    <div class="container header-section flex">
        <div class="header-left flex">
            <h2>ISVR since 2016.</h2>
            <h1>5+ Years of Industrial Experience.</h1>
            <p>We have knowledge in the space area, and we have been working in this field solely to raise the
                students' awareness and motivation to reach and explore the infinite sky with no boundaries since
                our inception. We set lofty goals, work hard, and overcome obstacles to obtain the best results.
                We have an unrivalled track record when it comes to rocket launches. ISVR Learning Labs have been
                designed and effectively implemented.</p>
        </div>
        <div class="header-right">
            <img src="/static/asset/asset14.jpg" class="about-img head-img" alt="hero-image">
        </div>
    </div>
</header>
<br />
<div>
    <h1 style="text-align: center;">What we are?</h1>
    <h4 style="text-align: center;">For the global student community, the vision is to create a globally accessible
        open learning platform. </h4>
    <section class="big-feature-section">
        <div class="conatiner flex big-feature-container">
            <div class="feature-img">
                <img src="/static/asset/asset8.jpg" alt="" />
            </div>
            <div class="feature-desc flex">
                <h4>Learning Platform</h4>
                <h3>Applied technology and project-based learning</h3>
                <p>ISVR offer applied technology and project-based learning, where students inquire, collaborate,
                    create, learn, tackle new problems and calibrate their solutions. To become an Open Learning
                    Platform that is designed to provide Space Awareness Activities, Educational Programs, and
                    Research
                    & Development of Space Exploration Technologies.</p>
            </div>
        </div>
    </section>
    <section class="big-feature-section">
        <div class="conatiner flex big-feature-container" style="flex-direction: row-reverse" }}>
            <div class="feature-img">
                <img src="/static/asset/asset9.jpg" alt="" />
            </div>
            <div class="feature-desc flex">
                <h4>Knowledge based learning</h4>
                <h3>Promote and disseminate knowledge</h3>
                <p>ISVR promote and disseminate knowledge, create awareness and provide a common forum of
                    interaction
                    amongst academicians, professionals and government agencies, establish effective co-ordination,
                    to
                    organize training courses and special programs to impart training, education in all disciplines,
                    online, distinct, correspondence courses, coaching classes for any stream, any level, any
                    profession, courses for science, defense, computer programs, technology, research, and
                    engineering
                    to the students.</p>
            </div>
        </div>
    </section>
    <section class="big-feature-section">
        <div class="conatiner flex big-feature-container">
            <div class="feature-img">
                <img src="/static/asset/asset11.jpg" alt="" />
            </div>
            <div class="feature-desc flex">
                <h4>Design and Debelopment</h4>
                <h3>Development in space launch</h3>
                <p>To carry on the business of design and development of space launch vehicles and related
                    technologies
                    for providing access to space and promote the Research and Development in space science and
                    interplanetary space exploration.</p>
            </div>
        </div>
    </section>
</div>
<div class="team-section">
    <div className="container">
        <div class="team-container">
            <div class="text">Our Advisory</div>
            <div class="text" style="font-size: 1rem;">Meet our Industrial Experts</div>
        </div>
        <div class="row">
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team5.png" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Prof. THAIS RUSSOMANO</h2>
                        <p>Space Medicine Expert</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team6.png" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Jacob Lofdahl</h2>
                        <p>Danish Knowledge Management</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team7.png" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Andy Gray</h2>
                        <p>Stem Education Exper</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team8.png" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Simon Gwozdz</h2>
                        <p>Rocket Expert</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team9.jpeg" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Dr. Paul Zilberman</h2>
                        <p>Advisory Board Member</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div className="container">
        <div class="team-container">
            <div class="text">Meet our team</div>
            <div class="text" style="font-size: 1rem;">Alone we can do so little, but together we can make the
                change.</div>
        </div>
        <div class="row">
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team1.jpeg" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Er. Ankit Chaudhary</h2>
                        <p>Founder | Chief Executive Officer</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team2.png" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Amitish Soni</h2>
                        <p>Founder</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team3.jpeg" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Nainsi</h2>
                        <p>Technical Head </p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="/static/asset/team4.png" alt="" />
                    </div>
                    <div class="desc">
                        <h2>Advocate Prashant Chaudhary</h2>
                        <p>Legal Advisor</p>
                    </div>
                    <div class="btn-div">
                        <a href="#" className="primary-btn">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}