{% extends "base.html" %}
{% block title %}
Services | ISVR
{% endblock title %}

{% block content %}

<section class="service-header">
    <div class="serviceheader-container container flex">
        <h2>High Performance curriculum For Multiple Space and Defence Fields</h2>
    </div>
</section>

<section class="features-section">
    <div class="container">
        <div class="features-area flex">
            <div class="features-card flex">
                <i class="fa-solid fa-rocket icon"></i>
                <h3>Rocketry</h3>
                <p>All the assisstance for rockets, and rocket fuels</p>
                <a href="#" class="secondary-btn">Learn More <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-card flex">
                <i class="fa-solid fa-satellite icon"></i>
                <h3>Satellite and Communications</h3>
                <p>Building a cube satellite and attaining communications.</p>
                <a href="#" class="secondary-btn">Learn More <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-card flex">
                <img src="/static/asset/asset5.png" alt="">
                <h3>Drone Technologies</h3>
                <p>Building Drone for commercial and defence purposes</p>
                <a href="#" class="secondary-btn">Learn More <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-card flex">
                <i class="fa-solid fa-tablets icon"></i>
                <h3>Space Medicine</h3>
                <p>Working in Astronautical Hygiene and research for the medical implementations in the void of
                    space.</p>
                <a href="#" class="secondary-btn">Learn More <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-card flex">
                <img src="/static/asset/asset6.png" alt="">
                <h3>Astronomy</h3>
                <p>Studying the cosmos and learning daily.</p>
                <a href="#" class="secondary-btn">Learn More <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="features-card flex">
                <i class="fa-solid fa-book icon"></i>
                <h3>Space Research</h3>
                <p>Working on many research related to space and defence.</p>
                <a href="#" class="secondary-btn">Learn More <i class="fa-solid fa-right-long"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="lab-setup-section">
    <div class="container flex lab-setup-container">
        <h3 style="color: #fff;">Request a Call Back from us.</h3>
        <a href="/contact" class="primary-btn">Contact Us</a>
    </div>
</section>

<div class="container header-section flex" style="margin-top: 20px; margin-bottom: 30px;">
    <div class="header-right">
        <img src="/static/asset/lab.jpeg" class="lab-img head-img" alt="hero-image">
    </div>
    <div class="header-left flex" style="margin-left: 20px; margin-right: 20px;">
        <h2><i class="fa-solid fa-fire"></i> Research & Analysis</h2>
        <p>ISVR has a long history in the field of research, with its student innovation and research lab, and has
            assisted more than 50 students with research.
        </p>
        <h2><i class="fa-solid fa-gears"></i> The Best Industry Services</h2>
        <p>The ISVR curriculum was created with the guidance of industry experts from around the world, and it features
            a wide range of topics and real-world examples.
        </p>
        <h2><i class="fa-solid fa-graduation-cap"></i> Learning Methodology</h2>
        <p>We prioritise studying the theory first, then moving on to practical learning on simulation systems, and
            finally, live field experience.
        </p>
    </div>
</div>

{% endblock content %}